<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%=cat.name%><br/>
    Country: <%=cat.country%><br/>
    Coat: <%=cat.coat%><br/>
    Pattern: <%=cat.pattern%><br/>
    <img src="<%=cat.img%>" height=150px>
  </body>
</html>
